ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.article {
	font-size: 1.7rem;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	padding-top: 6px;
}

.article-title {
	font-size: 2rem;
}

.description {
	font-size: 1.2rem;
}

.article ul {
	margin: 0 0 8px 0;
	padding: 0 0 4px 0;
}

img {
	width: 100%;
	height: auto;
}

/* Larger than phablet */
@media (min-width: 550px) {
	img {
		margin-right: 10px;
		width: 20%;
		height: auto;
		float: left;
	}
}

.articles-list, .articles-list p {
	list-style: none;
	margin: 0;
	padding: 0;
}

.articles-list > li {
	float: left;
	margin-right: 20px;
	width: 100%;
}

.articles-list > li > .article-image {
	display: block;
	float: left;
	margin-right: 10px;
}

.articles-list > li > .article-image,
.articles-list > li > .article-image > img {
	width: 100px;
	height: 100px;
}

.articles-list li {
	padding: 10px;
	background: #EEEEEE;
}
